.find-screen {
  top: 135px;
}
.find-screen-header__cog {
  position: relative;
}
.find-screen-header__cog-new {
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  display: flex;
  position: absolute;
  top: -8px;
  right: -5px;
}
.find-box {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
  border-bottom: var(--border);
  padding-bottom: 25px;
  margin-bottom: 20px;
}
.find-box__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.find-box__icon i {
  margin-bottom: 30px;
}
.find-box__icon:nth-child(2) i {
  margin-bottom: 20px;
}
.recommended-box {
  font-size: 15px;
  color: var(--gray);
  margin-bottom: 20px;
  border-bottom: var(--border);
}
.recommended__content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 240px;
  padding-bottom: 20px;
}
.open-chat__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  color: var(--gray);
  margin-bottom: 5px;
}
.open-chat__header span {
  color: #dcdcdc;
}
.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--border);
}
.open-post__row {
  margin: 15px 0;
  position: relative;
}
.open-post__title {
  font-weight: 600;
  font-size: 18px;
}
.open-post__hashtag {
  font-size: 15px;
  width: 80%;
  text-transform: uppercase;
  color: var(--gray);
  margin: 10px 0;
}
.open-post__member {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: var(--gray);
}
.open-post__member img {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  margin-right: 7px;
}
.open-post__member .divider {
  width: 2px;
  height: 15px;
  background-color: var(--gray);
  margin: 0 7px;
}
.open-post__active {
  color: #ff8ed3;
}
.open-post__image {
  width: 110px;
  height: 110px;
  border-radius: 10px;
}
.open-post__like {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 100;
  padding: 7px 10px;
  border-radius: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
  position: absolute;
  bottom: 8px;
  right: 8px;
}
.open-post__like i {
  margin-right: 5px;
}
@keyframes heartbeat {
  0% {
    transform: none;
    color: white;
  }
  50% {
    transform: scale(2);
    color: tomato;
  }
  100% {
    transform: none;
    color: white;
  }
}
.open-post__like:hover i {
  will-change: transform;
  animation: heartbeat 1s ease-in-out infinite;
}
