.more-screen {
  top: 113px;
}
.more-user__icon {
  color: #2e363e;
}
.suggestions-header {
  margin: 27px 0;
}
.suggestions-header ~ div {
  font-size: 12px;
}
.icon-row img {
  width: 55px;
  height: 55px;
  border-radius: 10px;
  margin-bottom: 10px;
}
