.alt-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: sticky;
  top: 30px;
  padding: var(--horizontal-space);
  box-sizing: border-box;
  font-size: small;
  background-color: #abc1d1;
  z-index: 1;
}
.alt-header__title {
  font-size: large;
  font-weight: 600;
}
.alt-header__row {
  width: 33%;
}
.alt-header__row:first-child {
  margin-right: auto;
}
.alt-header__row:nth-child(2) {
  text-align: center;
}
.alt-header__row:last-child {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}
.alt-header__row span:last-child {
  margin-left: 25px;
}
