#no-mobile {
  position: absolute;
  top: 0;
  z-index: 99;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--violet);
  color: white;
  font-size: 30px;
}
@media screen and (max-width: 550px) {
  #no-mobile {
    display: none;
  }
}

#mode-portrait {
  position: absolute;
  top: 0;
  z-index: 99;
  height: 100vh;
  width: 100vw;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: var(--violet);
  color: white;
  font-size: 30px;
}
@media screen and (orientation: landscape) {
  #mode-portrait {
    display: flex;
  }
}
