.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: sticky;
  top: 35px;
  padding: var(--horizontal-space);
  box-sizing: border-box;
  background-color: white;
  z-index: 1;
}
.screen-header__title {
  font-size: 29px;
  font-weight: 600;
}
.screen-header__icons span {
  margin-left: 26px;
}
@keyframes rotatecog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}
.screen-header .fa-cog:hover {
  animation: rotatecog 2s linear infinite;
}
