.user-component {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 35px;
}
.user-component__row {
  display: flex;
  align-items: center;
}
.user-component__row:last-child {
  color: #b7b7b7;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.user-component__row:last-child span {
  padding-right: 5px;
}
.user-component__avatar {
  width: 66px;
  height: 66px;
  border-radius: 40%;
  margin-right: 15px;
}
.user-component__avatar--xl {
  width: 76px;
  height: 76px;
}
.user-component__avatar--sm {
  width: 56px;
  height: 56px;
}
.user-component__title {
  font-size: 21px;
  font-weight: 600;
}
.user-component__subtitle {
  margin-top: 12px;
  color: var(--gray);
  font-size: 15px;
}
.user-component__subtitle i {
  color: tomato;
  margin-left: 7px;
}
.user-component__title--not-bold {
  font-weight: 400;
  font-size: 19px;
}
.user-component__time {
  margin-bottom: 10px;
}
